*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{

	height: 100%;
	width: 100%;

	}

body	{
	background: rgba(0,0,0,0.2);
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	
}

#clear {
clear: both;
}

/* primary panel */

#primary {
	background: url(../images/bk_fa_main1-NEW.jpg) top center no-repeat;		
	width: 1280px;
	height: 720px;
	display: inline-block;
	position: absolute;
	z-index: 99999;
}

.fadein { 
	height:332px; 
	position:absolute; 
	margin: 16px 0px 0px 857px;
}
	
.fadein img { 
	position:absolute; 
	margin-top: 10px;
}   

#header {
	width: 1280px;
	height: 225px;
	position: absolute;
	z-index: 100;
}

#header div#patient	{
	width: 855px;
	min-height: 75px;
	float: left;
	margin: 60px 0px 0px 425px;
	position: absolute;
}

#header div#patient p	{ 
	line-height: 28px;
	font-size: 26px;	
	text-align: left;
	color: #ffffff;
}

#header div#patient p.name	{ 
	line-height: 36px;
	font-size: 32px;
	text-align: left;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#header div#datetime	{
	height: 25px;
	float: left;
	font-weight: bold;
	margin: 187px 0px 0px 385px;
    position: relative;
}

#header div#datetime p	{ 
	line-height: 20px;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	color: #ffffff;
}

#header div#mainmenu	{
	width: 600px;
	height: 25px;
	float: left;
	margin: 187px 0px 0px 85px;
    position: absolute;
}

#header div#mainmenu p	{ 
	line-height: 20px;
	font-size: 24px;
	text-align: left;
	font-weight: bold;
	color: #bed7de;
	text-indent: 65px;
}


#navigation {
	width: 1280px;
	height: 60px;
	margin-top: 230px;
	position: absolute;
	z-index: 75;
	color: #2A253B;
}

#navigation div#menubar	{
/*	background: #55a0d5;*/
	width: 600px;
	height: 60px;
	border: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 70;
}

#navigation div#menu	{
	width: 600px;
	height: 60px;
	border: none;
	padding: 0px;
	margin: 0px 175px 0px 65px;
	position: relative;
	z-index: 75;
	
}

#navigation div#menu a	{
	width: 640px;
	height: 58px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 38px;
	font-weight: bold;
	line-height: 58px;
	text-align: left;
	text-indent: 75px;
	/*	letter-spacing: 3px;*/
	position: relative;
}

#navigation div#menu a.active 	{
	background: #689142 url(../images/fa_arrows_main.png) right no-repeat;
	color: #ffffff;	
}


#navigation div#menu a.hover 	{
	background: #516984;
	color: #ffffff;	
}


#navigation div#menuitems	{
	width: 650px;
	height: 58px;
	border: none;
	padding: 0px;	
	position: absolute;		
}


#navigation div#menuitems div#submenu	{
	width: 508px;
	height: 58px;
	border: 0px;
	margin: 0px 0px 0px 705px;
	padding: 0px;
	float: left;
	text-indent: 50px;
	position: absolute;
	display: block;
}

#navigation div#menuitems div#submenu a	{
	/*background: rgba(19,56,101,0.75);*/
	color: #1F2330;
	width: 508px;
	height: 58px;
	border: none;
	margin: 0px;
	padding: 0px;
	display: block;	
	font-weight: bold;
}

#navigation div#menuitems div#submenu a.back	{
	background: #516984;
	color: #ffffff;
	width: 508px;
	margin-top: 25px;
	height: 30px;
	font-size: 24px;
	display: block;	
	font-weight: bold;
	position: absolute;
	display: none;
}

#navigation div#menuitems div#submenu a span	{
	font-size: 38px;
	line-height: 58px;
	font-weight: bold;
	padding-left: 10px;
	text-align: left;
	display: block;	
}

#navigation div#menuitems div#submenu a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #689142 url(../images/fa_arrows_main.png) right no-repeat;
	color: #ffffff;
}

#navigation div#menuitems div#submenu a span.back		{
	background: #516984;
	font-size: 24px;
	height: 30px;
	line-height: 30px;

}

#navigation div#menuitems div#submenu a span.back.active		{
	background: #689142;
}

#images{
    background: #689142 url(../images/img_pillowspeaker3.png) 113% 95% no-repeat;
	display: block;
	width: 508px;
	height: 420px;
	margin: 230px 0px 0px 705px;
	position: absolute;
	z-index: 25;
}

#images div#transbox
   {
   width:400px;
   height:180px;
   margin:30px 50px;
   background-color:#ffffff;
   border:1px solid black;
   opacity:0.6;
   filter:alpha(opacity=60); /* For IE8 and earlier */
   }

#pictures {
	height: 435px;
	border: none;
	padding: 0px;
	margin: 0px auto 0px auto;
	position: relative;
	display: block;
}

#pictures div#mainpanel	{
	height: 100%;
	width: 100%;
	margin: 0px;
}

#pictures div#mainpanel p	{
	color: #b1da92;
	position: absolute;
}

#pictures div#mainpanel p.text1	{
	color: #ffffff;
	height: 150px;
	width: 300px;
	margin-left: 10px;
	margin-top: 15px;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}


#pictures div#mainpanel p.text2	{
	color: #ffffff;
	height: 100px;
	width: 410px;
	margin-left: 10px;
	margin-top: 140px;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

#pictures div#mainpanel p.text2 span	{
	color: #ffff86;
}

#pictures div#mainpanel p.text3	{
	color: #ffffff;
	height: 100px;
	width: 300px;
	font-size: 24px;
	font-weight: 600;
	margin-top: 310px;
	margin-left: 10px;
	line-height: 32px;
}

#pictures div#mainpanel p.text4	{
	color: #ffffff;
	height: 150px;
	width: 300px;
	margin-left: 20px;
	margin-top: 15px;
	font-size: 32px;
	line-height: 45px;
	text-align: center:
}

#secondary div#secondaryRight div#pagepanel p.text24	{
	width: 800px;
	margin: -30px 0px 0px 0px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

#pictures div#mainpanel p.text5	{
	background: #506F83;
	color: #ffffff;
	height: 180px;
	width: 400px;
	margin-top: 173px;
	padding-left: 110px;
	font-size: 32px;
	font-weight: 600;
	line-height: 46px;
}

#pictures div#mainpanel p.text6	{
	background: #506F83;
	color: #ffffff;
	height: 324px;
	width: 400px;
	margin-top: 23px;
	padding-left: 110px;
	font-size: 42px;
	font-weight: 600;
	line-height: 46px;
}

#pictures div#mainpanel p.text5 span	{
	color: #ffff86;
}

#pictures div#mainpanel img	{
	position: absolute;
	z-index: 100;
}

#pictures div#mainpanel img.image1	{
	height: 100px;
	width: 100px;
	margin-top: 187px;
}

#pictures div#mainpanel img.image2	{
	margin: 135px;
	height: 75px;
	width: 245px;
	margin-top: 245px;
}

#pictures div#mainpanel img.remote	{
	height: 448px;
	width: 241px;
	margin-top: -33px;
	margin-left: 550px;	
}


#pictures div#mainpanel img.arrows	{
	height: 448px;
	width: 241px;
	margin-top: -33px;
	margin-left: 550px;	
	z-index: 101;
}

/* Picture in Picture */

#slideshow { 
    margin: 120px auto; 
    position: absolute; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
		
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


/* secondary panel */

#secondary {
	background: url(../images/bk_fa_secondlevel1-NEW.jpg;) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 89999;
}

	
#secondary div#secondaryHead div#instructions	{
	color: #b1da92;
	text-align: center;
	margin: -10px 0px 0px 75px;
	text-align: left;	
}

#secondary div#secondaryLeft	{
	width: 330px;
	height: 580px;
	margin: 44px auto auto 60px;
	display: inline-block;
	float: left;
	position: absolute;
	display: none;
}

#secondary div#secondaryLeft div#secondaryTitle	{
	width: 324px;
	height: 27px;
	border: 0px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;	
}

#secondary div#secondaryLeft div#secondaryTitle.submenu	{
	width: 328px;
	height: 54px;
	border: 0px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;	
}

#secondary div#secondaryLeft div#secondaryTitle p.menu	{
	width: 100%;
	color: #000000;
	margin: 10px 0px 0px 30px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
}

#secondary div#secondaryLeft div#secondaryTitle p.submenu	{
	width: 100%;
	color: #000000;
	margin: 0px 0px 0px 30px;
	font-size: 38px;
	line-height: 40px;
	font-weight: 700;
	text-align: left;
}

#secondary div#secondaryLeft div#secondaryTitle img	{
	position: absolute;
	z-index: 100;
}

#secondary div#secondaryLeft div#secondaryTitle img.image1	{
	height: 105px;
	width: 205px;
	margin: -15px 0px 0px 45px
}

#secondary div#secondaryLeft div#choices	{
	width: 295px;
	height: 32px;
	border: 0px;
	margin: 150px 0px 0px 5px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.childrenshospital  div#secondaryLeft div#choices	{
	width: 295px;
	height: 32px;
	border: 0px;
	margin: 150px 0px 0px 5px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary div#secondaryLeft div#choices p	{
	color: #2A253B;
	width: 3OOpx;
	height: 258px;
	border: none;
	margin: 0px 0px 0px 5px;
	padding: 35px auto 0px auto;
	font-size: 32px;
	font-weight: 600px;
	line-height: 56px;
	text-align: center;
	position: relative;
	display: block;
}

#secondary.childrenshospital  div#secondaryLeft div#choices p	{
	color: #2A253B;
	width: 3OOpx;
	height: 258px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 35px auto 0px auto;
	font-size: 32px;
	font-weight: 600px;
	line-height: 56px;
	text-align: center;
	position: relative;
	display: block;
}

#secondary.childrenshospital div#secondaryLeft div#choices p	{
	color: #015054;	
	width: 298px;
	height: 258px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 35px auto 0px auto;
	font-size: 30px;
	font-weight: bold;
	font-weight: 600px;
	line-height: 56px;
	text-align: center;
	position: relative;
	display: block;
}

#secondary.childrenshospital div#secondaryLeft div#choices a	{
	color: #015054;	
	width: 298px;
	height: 43px;
	border: none;
	margin: 10px auto 0px auto;
	padding: 0px;
	padding-top: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a	{
	color: #ffffff;	
	width: 295px;
	height: 43px;
	border: none;
	margin: 10px auto 0px auto;
	padding: 0px;
	padding-top: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.more	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ababab;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.back	{
	/*background: rgba(86,162,214,0.75);*/
	color: #ffffff;
	border: none;
	margin-top: 48px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.childrenshospital div#secondaryLeft div#choices a.back	{
	/*background: rgba(86,162,214,0.75);*/
	color: #015054;
	border: none;
	margin-top: 48px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.mainmenu	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.childrenshospital div#secondaryLeft div#choices a span	{
	background: none;
	margin-top: 18px;
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	text-align: center;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a span	{
	background: #516984;
	margin-top: 18px;
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	text-align: center;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a span.more, #secondary div#secondaryLeft div#choices a span.back, #secondary div#secondaryLeft div#choices a span.mainmenu	{ 
	font-size: 28px;
	padding-left: 0px;
	text-align: center;
}

#secondary div#secondaryLeft div#choices a span.dim	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary.childrenshospital div#secondaryLeft div#choices a span.active		{
	background: #00747A url(../images/fa_arrows_secondlevel.png) right no-repeat;
	color: #ffffff;
}

#secondary div#secondaryLeft div#choices a span.active		{
	background: #689142 url(../images/fa_arrows_secondlevel.png) right no-repeat;
}

#secondary div#secondaryRight	{
	width: 880px;		
	height: 518px;
	margin: 196px auto auto 385px;
	float: left;
	position: relative;
	display: none;
}


#secondary div#secondaryRight div#pagepanel p	{
	position: absolute;
}

#secondary div#secondaryRight div#pagepanel p.title	{
	color: #ffffff;	
	height: 45px;
	margin: -115px 0px 0px 0px;
	font-size: 32px;
	line-height: 45px;	
}


#secondary div#secondaryRight div#pagepanel p.title2	{
	color: #ffffff;	
	height: 45px;
	margin: -155px 0px 0px 0px;
	font-size: 32px;
	line-height: 45px;
	
}

#secondary div#secondaryRight div#pagepanel p.title3	{
	color: #ffffff;	
	height: 45px;
	margin: -145px 0px 0px 0px;
	font-size: 30px;
	line-height: 40px;
	
}


#secondary div#secondaryRight div#pagepanel p.title4	{
	color: #000000;	
	height: 45px;
	margin: -115px 0px 0px 0px;
	font-size: 32px;
	line-height: 45px;	
}

#secondary div#secondaryRight div#pagepanel p.title5	{
	color: #ffffff;	
	height: 45px;
	margin: -165px 0px 0px 25px;
	font-size: 32px;
	line-height: 45px;	
}

#secondary div#secondaryRight div#pagepanel p.title6	{
	color: #ffffff;	
	height: 45px;
	margin: -155px 0px 0px -10px;
	font-size: 30px;
	line-height: 36px;
	
}


#secondary div#secondaryRight div#pagepanel p.text4	{
	width: 800px;
	margin: -30px 0px 0px 0px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

#secondary div#secondaryRight div#pagepanel p.text34	{
	width: 800px;
	margin: -50px 0px 0px 0px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

#secondary div#secondaryRight div#pagepanel p.text18	{
	color: #ffffff;
	width: 800px;
	margin: -50px 0px 0px 0px;
	font-size: 29px;
	line-height: 36px;
	font-weight: 700;

}

#secondary div# div#pagepanel p.text13	{
	width: 800px;
	margin: -40px 0px 0px 0px;
	color: #1F2330;
	font-size: 29px;
	line-height: 34px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text14	{
	width: 800px;
	margin: -60px 0px 0px 0px;
	color: #1F2330;
	font-size: 29px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text15	{
	width: 800px;
	margin: 400px 0px 0px 0px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

#secondary div#secondaryRight div#pagepanel p.text16	{
	width: 800px;
	margin: -60px 0px 0px 0px;
	color: #1F2330;
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;
}


#secondary div#secondaryRight div#pagepanel p.text5	{
	margin: 80px 0px 0px 0px;
	color: #1F2330;
	width: 400px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text7	{
	margin: 20px 0px 0px 0px;
	color: #1F2330;
	width: 450px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text8	{
	margin: 20px 0px 0px 300px;
	color: #1F2330;
	width: 550px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}


#secondary div#secondaryRight div#pagepanel p.text27	{
	color: #ffffff;	
	margin: 20px 0px 0px 0px;
	width: 450px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text28	{
	margin: 20px 0px 0px 300px;
	color: #ffffff;	
	width: 550px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text12	{
	margin: 0px 0px 0px 450px;
	color: #1F2330;
	width: 750px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}



#secondary div#secondaryRight div#pagepanel p.text6	{
	width: 800px;
	margin: -50px 0px 0px 0px;
	color: #1F2330;
	font-size: 28px;
	line-height: 32px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text9	{
	margin: -50px 0px 0px 0px;
	color: #1F2330;
	width: 400px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text19	{
	margin: -50px 0px 0px 0px;
	color: #1F2330;
	width: 500px;
	font-size: 36px;
	line-height: 42px;
	font-weight: bold;
}



#secondary div#secondaryRight div#pagepanel p.text10	{
	width: 820px;
	margin: -50px 0px 0px 0px;
	color: #1F2330;
	font-size: 29px;
	line-height: 33px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.text11	{
	margin: -50px 0px 0px 0px;
	color: #1F2330;
	width: 535px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#secondary div#secondaryRight div#pagepanel p.footer	{
	color: #3E5627;	
	height: 45px;
	margin: 375px 0px 0px 0px;
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;	
}

#secondary div#secondaryRight div#pagepanel img	{
	width: 800px;
	position: absolute; 
}


#secondary div#secondaryRight div#pagepanel img.image1	{
	width: 400px;
	height: 400px;
	float: right;
	margin: 75px 0px 0px 425px;
}


#secondary div#secondaryRight div#pagepanel img.image2	{
	background: #516984;	
	width: 250px;
	height: 475px;
	float: right;	
	margin: 0px 0px 0px 525px;	
}

#secondary div#secondaryRight div#pagepanel img.image3	{
	width: 800px;
	height: 225px;
	margin: 255px 0px 0px -10px;
}

#secondary div#secondaryRight div#pagepanel img.image23	{
	width: 767px;
	height: 155px;
	margin: 290px 0px 0px 20px;
}

#secondary div#secondaryRight div#pagepanel img.image4	{
	width: 395px;
	height: 525px;
	float: right;	
	margin: -45px 0px 0px 430px;
}

#secondary div#secondaryRight div#pagepanel img.image5	{
	background: #516984;	
	width: 305px;
	height: 465px;
	float: right;	
	margin: 15px 0px 0px 515px;	
}

#secondary div#secondaryRight div#pagepanel img.image6	{
	background: #516984;	
	width: 300px;
	height: 450px;
	float: right;	
	margin: 15px 0px 0px 515px;	
}

#secondary div#secondaryRight div#pagepanel img.image7	{
	width: 275px;
	height: 225px;
	float: right;	
	margin: 255px 0px 0px 555px;
}

#secondary div#secondaryRight div#pagepanel img.image8	{
	width: 600px;
	height: 150px;
	margin: 250px 0px 0px 240px;
}



#secondary div#secondaryRight div#comments p	{
	font-size: 28px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;
}


#secondary div#secondaryRight p.panelimage	{
	width: 875px;
	height: 518px;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	font-size: 28px;
	line-height: 62px;
	text-align: center;
}

#secondary div#secondaryRight p.panelimage img	{
	width: 875px;
}

#secondary div#secondaryRight div#slides {
	width: 875px;
	height: 518px;	
	color: #ffffff;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 28px;
	line-height: 42px;	
	float: left;
	display: block;
	position: absolute;
}

#secondary div#secondaryRight div#slides div#youarein	{
	text-align: left;
	margin: 20px 0px 50px 68px;
	font-size: 28px;
	line-height: 28px;	
}

#secondary div#secondaryRight div#slides div#instructions	{
	width: 600px;
	height: 600px;	
	color: #000080;	
/* CHANGE BEG: 20120209-1000 bsears - low priority change: textual changes on Visit->About Kaiser->Dining pages */
	/*margin: 415px 0px 0px 75px;*/
	margin: -146px 0px 0px 308px;
/* CHANGE END: 20120209-1000 bsears - low priority change: textual changes on Visit->About Kaiser->Dining pages */
	text-align: left;
}

#secondary div#secondaryRight div#slides div#slide	{
	width: 1100px;
	min-height: 225px;
	margin: 0px 0px 0px 75px;
	position: absolute;
	display: inline-block;
	
}

#secondary div#secondaryRight div#slides div#slide p	{
	margin: 0px 0px 0px 0px;
	font-size: 30px;
	font-weight: 300;
	line-height: 40px;
	color: #ffffff;
	position: absolute;
}
}

#secondary div#secondaryRight div#slides div#slide p.title	{
	width: 600px;
	color: #ffffff;
}

#secondary div#secondaryRight div#slides div#slide p.title2	{
	font-size: 48px;
	margin-top: 20px;
	width: 600px;
	color: #ffffff;
}

#secondary div#secondaryRight div#slides div#slide p.title3	{
	width: 600px;
	color: #ffffff;
	margin: -160px 0px 0px -80px;
}


#secondary div#secondaryRight div#slides div#slide p.text4	{
	width: 800px;
	margin: 0px 0px 0px -70px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

#secondary div#secondaryRight div#slides div#slide p.text4 span	{
	color: #ffff86;
}

#secondary div#secondaryRight div#slides div#slide p.footer	{
	color: #3E5627;	
	height: 45px;
	margin: 400px 0px 0px -70px;
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
	position: absolute;	
}

#secondary div#secondaryRight div#slides div#slide p.title	{
	color: #ffffff;	
	height: 45px;
	margin: -120px 0px 0px -80px;
	font-size: 32px;
	line-height: 45px;	
}

#secondary div#secondaryRight div#slides div#slide p.panel	{
	width: 675px;
	margin-top: 50px;
	font-size: 32px;
	line-height: 48px;	
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.goinghome	{
	font-size: 38px;
	line-height: 42px;	
	margin-top: 20px;
	margin-bottom: 5px;
	height: 200px;
	width: 100%;
	float: left;
	display: inline-block;
}

#secondary div#secondaryRight div#slides div#slide p.shops	{
	margin-top: 20px;
	margin-bottom: 5px;
	height: 600px;
	width: 100%;
	float: left;
	display: inline-block;
}

#secondary div#secondaryRight div#slides div#slide p.shops img	{
	position: absolute;
	/*width: 200px;*/
	padding: 70px 270px 0px 300px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.left	{
	padding: 0px 20px 10px 0px;
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.shops span	{
	color: #b1da92;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.li	{
	width: 14px;
	float: left;
	padding-top: 3px;
	margin: 10px -10px 0px 10px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.li2	{
	width: 14px;
	float: left;
	padding-top: 3px;
	margin: 10px -10px 30px 10px;
}

#secondary div#secondaryRight div#slides div#slide p.column	{	
	float: left;	
}

#secondary div#secondaryRight div#slides div#slide p.column span	{
	margin-left: 50px;	
	width:400px;
}

#secondary div#secondaryRight div#slides div#slide p.column1	{
	width: 50%;
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.column2	{
	width: 50%;
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.column3	{
	width: 35%;
	float: left;
	font-size: 26px;
	line-height: 32px;
	color: #ADD8E6;	
}

#secondary div#secondaryRight div#slides div#slide p.column4	{
	width: 35%;
	float: left;
	font-size: 26px;
	line-height: 32px;
	color: #ADD8E6;	
}


#secondary div#secondaryRight div#choicepanel	{
	color: #ffffff;
	width: 725px;
	height: 480px;
	margin: 0px 0px 0px 75px;
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	text-align: left;	
	position: absolute;
	display: block;
	z-index: 500;
}

#secondary div#secondaryRight div#choicepanel p	{
	color: #ffffff;
	width: 450px;
	border: none;
	margin: 50px auto 0px 25px;
	padding: 0px;
	font-size: 32px;
	line-height: 46px;
	text-align: left;
	float: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#choicepanel p.panelfull	{
	width: 630px;
	margin: 50px auto 0px 25px;
}

#secondary div#secondaryRight div#choicepanel p.panelinfo	{
	width: 600px;
	margin: 75px auto 0px 0px;
	font-size: 30px;
	line-height: 48px;
	letter-spacing: 1px;
}

#secondary div#secondaryRight div#choicepanel p.panel	{
	width: 525px;
	margin: 50px auto 0px 0px;
}

#secondary div#secondaryRight div#choicepanel p.panel span.name	{
	color: #b1da92;
}

#secondary div#secondaryRight div#choicepanel p.panel span.tab1	{
	margin-left: 25px;
}

#secondary div#secondaryRight div#choicepanel p.panel span.tab2	{
	margin-left: 175px;
}

#secondary div#secondaryRight div#choicepanel p.panelwide	{
	width: 700px;
	margin: 50px auto 0px 0px;
}

#secondary div#secondaryRight div#choicepanel img	{
	margin-top: 0px;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel1	{
	width: 406px;
	height: 310px;
	border: 0px;
	margin: 0px;
	margin-top: 75px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel1 p	{
	width: 331px;
	height: 43px;
	border: none;
	margin: 0px;
	margin-left: 75px;
	padding: 0px;
	padding-top: 10px;
	float: left;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel2	{
	width: 310px;
	height: 310px;
	border: 0px;
	margin: 0px;
	margin-top: 75px;
	padding: 0px;
	float: right;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel2 img	{
	float: right;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel3	{
	width: 681px;
	height: 50px;
	border: 0px;
	margin: 25px 0px 0px 0px;
	line-height: 50px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#selections	{
	background: #173453;
	width: 485px;
	height: 270px;
	border: 0px;
	margin: 60px 0px 0px -5px;
	padding: 0px;
	padding-top: 20px;
	float: left;
	position: absolute;
	display: none;
	z-index: 499;
}

#secondary div#secondaryRight div#selections a	{
	color: #ffffff;
	width: 485px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-bottom: 10px;
	position: relative;
	display: block;
}


#secondary div#secondaryRight div#selections a span	{
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 150px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#selections a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #dd6f00;
}

#secondary div#secondaryRight div#comments	{
	color: #ffffff;
	width: 500px;
	margin: 75px 0px 0px 50px;
	display: inline-block;
}

#secondary div#secondaryRight div#comments p	{
	font-size: 28px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;
}

/* secondary movies panel */

#secondary.movies {
		background: url(../images/bk_fa_movies-NEW.jpg) top center no-repeat;
}

#secondary.movies div#secondaryRight div#choicepanel p	{
	position: absolute;
}

#secondary.movies div#secondaryRight div#choicepanel p.title	{
	color: #ffffff;	
	height: 245px;
	width: 800px;
	margin: -115px 0px 0px 25px;
	font-size: 32px;
	font-weight: bold;
	line-height: 45px;	
}

#secondary.movies div#secondaryRight div#choicepanel img.rightarrow	{
	height: 50px;
	width: 50px;
	margin: 465px 0px 0px 785px;
	position: absolute;
}

#secondary.movies div#secondaryRight div#choicepanel img.leftarrow	{
	height: 50px;
	width: 50px;
	margin: 465px 0px 0px 25px;
	position: absolute;
}


#secondary.movies div#secondaryLeft div#choices	{
	width: 320px;
	height: 325px;
	border: 0px;
	margin: 100px 0px 0px 5px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.movies div#secondaryLeft div#choices p	{
	width: 320px;
	height: 258px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 35px auto 0px auto;
	line-height: 56px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.movies div#secondaryLeft div#choices a	{
	color: #000000;
	width: 292px;
	height: 43px;
	border: none;
	margin: 10px auto 0px 0px;
	padding: 0px;
	padding-top: 0px;
	position: relative;
	display: block;
}

#secondary.movies div#secondaryLeft div#choices a.more	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.movies div#secondaryLeft div#choices a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.movies div#secondaryLeft div#choices a.back	{
	background: #516984;
	color: #ffffff;
	border: none;
	margin-top: 48px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.movies div#secondaryLeft div#choices a.mainmenu	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}


#secondary.movies div#secondaryLeft div#choices a span {
	color: #000000;
	background: none;
	margin-top: 18px;
	font-size: 32px;
	font-weight: bold;
	line-height: 43px;
	padding-left: 40px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.movies div#secondaryLeft div#choices a span.more, #secondary.movies div#secondaryLeft div#choices a span.back, #secondary.movies div#secondaryLeft div#choices a span.mainmenu	{ 
	font-size: 30px;
	padding-left: 0px;
	text-align: center;
	color: #ffffff;
}

#secondary.movies div#secondaryLeft div#choices a span.dim	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary.movies div#secondaryLeft div#choices a span.active		{
	background: #689142 url(../images/fa_arrows_secondlevel.png) right no-repeat;
	color: #ffffff;
}

/* secondary mychart,myprograms,allprograms panel */

#secondary.myprograms,
#secondary.allprograms {
	background: url(../images/bk_fa_education-NEW.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 0;
}

#secondary.myprograms div#secondaryLeft,
#secondary.allprograms div#secondaryLeft	{
	width: 368px;
	height: 580px;
	margin: 10px auto auto 27px;
	display: inline-block;
	float: left;
	position: absolute;
	display: none;
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle,
#secondary.allprograms div#secondaryLeft div#secondaryTitle	{
	width: 368px;
	height: 52px;
	border: 0px;	
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle.submenu,
#secondary.allprograms div#secondaryLeft div#secondaryxTitle.submenu	{
	width: 368px;
	height: 54px;
	border: 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.movies div#secondaryLeft div#secondaryTitle p.submenu {
	width: 100%;
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	text-align: left;
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle p.menu,
#secondary.allprograms div#secondaryLeft div#secondaryTitle p.menu	{
	width: 100%;
	color: #000000;	
	font-size: 30px;
	font-weight: bold;
	margin: 40px 0px 4px 80px;
	line-height: 28px;
	text-align: left;
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle p.submenu,
#secondary.allprograms div#secondaryLeft div#secondaryTitle p.submenu	{
	width: 100%;
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	margin: 0px 0px 0px 80px;
	line-height: 40px;
	text-align: left;
}

#secondary.myprograms div#secondaryLeft div#choices,
#secondary.allprograms div#secondaryLeft div#choices	{
	width: 368px;
	height: 310px;
	border: 0px;
	margin: 130px 0px 0px 35px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;	
}

#secondary.myprograms div#secondaryLeft div#choices a,
#secondary.allprograms div#secondaryLeft div#choices a	{
	color: #000000;
	width: 100%;
	height: 43px;
	border: none;
	margin: 0px 2px 0px 2px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.more,
#secondary.allprograms div#secondaryLeft div#choices a.more	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.dim,
#secondary.allprograms div#secondaryLeft div#choices a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ababab;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.back,
#secondary.allprograms div#secondaryLeft div#choices a.back	{
background: none;
	width: 368px;
	color: #ffffff;
	border: none;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a span,
#secondary.allprograms div#secondaryLeft div#choices a span	{
	background: none;
	font-size: 30px;
	line-height: 43px;
	font-weight: bold;
	padding-left: 40px;
	text-align: left;
	position: relative;
	display: block;
	
}

#secondary.myprograms div#secondaryLeft div#choices a span.more, 
#secondary.myprograms div#secondaryLeft div#choices a span.back, 
#secondary.allprograms div#secondaryLeft div#choices a span.more, 
#secondary.allprograms div#secondaryLeft div#choices a span.back { 
	background: #516984;
	font-size: 30px;
	font-weight: bold;
	padding-left: 0px;
	text-align: center;
	color: #ffffff;
}

#secondary.myprograms div#secondaryLeft div#choices a span.dim,
#secondary.allprograms div#secondaryLeft div#choices a span.dim	{
	color: #ababab;
	font-size: 30px;
	font-weight: bold;
	padding-left: 0px;
	text-align: center;
}

#secondary.myprograms div#secondaryLeft div#choices a span.active,
#secondary.allprograms div#secondaryLeft div#choices a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #689142 url(../images/fa_arrows_secondlevel.png) right no-repeat;
	color: #ffffff;
}


#secondary.myprograms div#secondaryRight,
#secondary.allprograms div#secondaryRight	{
	width: 586px;
	height: 518px;
	margin: 232px auto auto 423px;
	float: left;
	position: relative;
	display: none;
}

#secondary.myprograms div#secondaryRight div#pagepanel 	{
	width: 800;
}

#secondary.myprograms div#secondaryRight div#pagepanel p	{
	width: 800;
}

#secondary.movies div#secondaryRight div#pagepanel p.title,
#secondary.allprograms div#secondaryRight div#pagepanel p.title,
#secondary.myprograms div#secondaryRight div#pagepanel p.title	{
	color: #ffffff;	
	height: 45px;
	margin: -150px 0px 0px 50px;
	font-size: 32px;
	line-height: 45px;
	
}

#secondary.allprograms div#secondaryRight div#pagepanel p.title5,
#secondary.myprograms div#secondaryRight div#pagepanel p.title5	{
	color: #ffffff;	
	height: 45px;
	margin: -190px 0px 0px 25px;
	font-size: 32px;
	line-height: 45px;	
	font-weight:bold;
}

#secondary.myprograms div#secondaryRight div#pagepanel p.text4	{
	width: 800px;
	margin: -10px 0px 0px 50px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	
}

#secondary.myprograms div#secondaryRight div#pagepanel img	{
	width: 800px;
	position: absolute; 
}


#secondary.myprograms div#secondaryRight div#pagepanel img.image1	{
	width: 750px;
	height: 225px;
	margin: 250px 0px 0px 40px;
}

#secondary.myprograms div#secondaryRight div#pagepanel img.image3	{
	width: 750px;
	height: 225px;
	margin: 210px 0px 0px 30px;
}

#secondary.myprograms div#secondaryRight div#choicepanel {
	color: #000000;	
	width: 700px;
	height: 375px;
	margin: 0px 0px 0px 0px;
	font-size: 32px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;	
	position: absolute;
	display: inline-block;
}

#secondary.allprograms div#secondaryRight div#choicepanel	{
	color: #000000;	
	width: 700px;
	height: 375px;
	margin: -80px 0px 0px 0px;
	font-size: 32px;
	line-height: 54px;
	font-weight: 600;
	text-align: left;	
	position: absolute;
	display: inline-block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1	{
	color: #000000;
	width: 700px;
	height: 400px;
	border: 0px;
	margin: 5px 0px 0px 50px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;
	z-index: 500;	
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1 p,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1 p	{
	width: 100%;
	height: 54px;
	border: none;
	margin: 0px 2px 0px 2px;
	padding: 0px;
	float: left;
	color: #000000;	
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1 p.active,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1 p.active	{
	color: #ffffff;
}
#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1 img.checkmark,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1 img.checkmark	{
	width: 35px;
	height: 35px;
	border: none;
	margin: 0px 0px 0px -45px;
	padding: 0px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel2,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel2	{
	width: 700px;
	height: 43px;
	border: 0px;
	margin: 280px 0px 0px 50px;
	line-height: 54px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;
	z-index: 490;	
	color: #000000;	
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel2 img,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel2 img	{
	width: 30px;
	margin-top: 0px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel3,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel3	{
	width: 700px;
	height: 54px;
	border: 0px;
	margin: 330px 0px 0px 50px;
	font-size: 28px;
	line-height: 54px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
	z-index: 500;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4	{
	background: none;	
	width: 700px;
	height: 324px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	padding-top: 6px;
	float: left;
	position: absolute;
	display: block;
	z-index: 495;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a	{
	color: #000000;	
	width: 738px;
	height: 54px;
	border: none;
	margin: 0px 2px 0px 9px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 img.checkmark,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 img.checkmark	{
	width: 35px;
	height: 35px;
	border: none;
	margin: 0px 0px 0px -45px;
	padding: 0px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a.more,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a.more	{
	background: rgba(86,162,214,0.75);
	width: 282px;
	border: none;
	margin-top: 3px;
	margin-right: 1px;
	padding: 0px;
	margin-top: 18px;
	float: left;
	position: relative;
	display: block;
}

#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a.dim	{	
	background: rgba(86,162,214,0.75);
	color: #ababab;
	width: 282px;
	border: none;
	margin-top: 3px;
	margin-right: 1px;
	padding: 0px;
	margin-top: 18px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a.back,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a.back	{
	background: rgba(86,162,214,0.75);
	width: 282px;
	border: none;
	margin-top: 3px;
	margin-right: 2px;
	padding: 0px;
	margin-top: 18px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span	{
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	line-height: 43px;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.more,
#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.back,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.more,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.back	{
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding-left: 0px;
}

#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.dim	{	
	color: #ababab;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding-left: 0px;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.active,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.active		{
    color: #ffffff;
	width: 100%;
	/*background: rgba(137,220,71,0.75);*/
	background: #689142 url(../images/fa_arrows_secondlevel.png) right no-repeat;
}

/* carousel */

#secondary div#secondaryRight div#carousel {
	height: 467px;
	width: 858px;
	margin-left: -98px;
	margin-top:-40px;
	position: absolute;
	display: inline-block;
	
}

#secondary div#secondaryRight div#carousel div#carouselTitle {
	background: #689142;
	height: 65px;
	width: 855px;
	position:absolute;	
	display: block;
	z-index: 500;
	display: none;
}

#secondary div#secondaryRight div#carousel div#carouselTitle p {
	width: 100%;
	margin: 0px 0px 0px -15px;
	font-weight: bold;
	font-size: 36px;
	color: white;
	text-align: center;
}

#secondary div#secondaryRight div#carousel div#carouselOverlay {
	border: 25px solid #689142;
	height: 345px;
	width: 245px;
	margin: 0px 0px 0px 30px;	
	display: none;
	position: absolute;
	z-index: 500;
}

#secondary div#secondaryRight div#carousel div#carouselPosters {
	height: 400px;
	width: 858px;
	margin: 45px 0px 0px 0px;
	position: absolute;
	z-index: 495;
	
}

#secondary div#secondaryRight div#carousel div#carouselPosters img {  	
	width: 33%;
	height: 1px;
	width: 1px;
	margin: 75px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: none;	
	padding: 25px, 25px, 25px, 25px; 
}

#secondary div#secondaryRight div#carousel div#carouselPosters img.current { 
	background: #689142;
	height: 310px; 
	width: 225px; 	
	margin: 0px 0px 0px 0px; 
	display: block; 
	padding: 60px 30px 30px 30px;
}

#secondary div#secondaryRight div#carousel div#carouselPosters img.currentx{ 
	background: url(../images/mov_poster_BK1.png) top center no-repeat; 	
	height: 310px; 
	width: 225px; 	
	margin: 45px 15px 15px 15px; 
	display: block; 
	padding: 15px 15px 1px 15px;
}


#secondary div#secondaryRight div#carousel div#carouselPosters img.blank { 
	background: url(../images/mov_poster_BK0.png) top center no-repeat;
}

#secondary div#secondaryRight div#carousel div#carouselMessage {
	height: 40px;
	width: 800px;
	margin: 420px 0px 0px 0px;
	display: block;
}

#secondary div#secondaryRight div#carousel div#carouselMessage p {
	width: 100%;
	margin: 0px auto 0px auto;
	font-weight: normal;
	font-size: 30px;
	color: white;
	text-align: center;
}


/* tertiary panel */

#tertiary {
	background: url(../images/bk_fa_education-NEW.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 0;
}

#tertiary.movies {
	background: url(../images/bk_fa_secondlevel1-NEW.jpg) top center no-repeat;
}

#tertiary div#tertiaryLeft	{
	width: 330px;
	height: 580px;
	margin: 40px auto auto 25px;
	display: inline-block;
	float: left;
	position: absolute;
	display: none;
}

#tertiary div#tertiaryLeft div#tertiaryTitle	{
	width: 324px;
	height: 52px;
	border: 0px;
	margin: 15px 3px 3px 95px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary div#tertiaryLeft div#tertiaryTitle.submenu	{
	width: 328px;
	height: 54px;
	border: 0px;
	margin: -23px 0 4px 84px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary div#tertiaryLeft div#tertiaryTitle p.menu	{
	width: 100%;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
}

#tertiary div#tertiaryLeft div#tertiaryTitle p.submenu	{
	width: 100%;
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	text-align: left;
}

#tertiary div#tertiaryLeft div#controls	{
	width: 325px;
	height: 310px;
	border: 0px;
	margin: 10px 0px 0px 40px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary.movies div#tertiaryLeft div#controls	{
	width: 298px;
	height: 310px;
	border: 0px;
	margin: 10px 0px 0px 40px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary div#tertiaryLeft div#controls p	{
	color: #000000;
	width: 323px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top: 10px;
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	position: relative;
	display: block;
}

#tertiary.movies div#tertiaryLeft div#controls p	{
	color: #000000;
	width: 298px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top: 10px;
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls p.choice	{
	font-size: 36px;
	font-weight: bold;
	display: none;
}

#tertiary div#tertiaryLeft div#controls p.title	{
	font-size: 30px;
	font-weight: bold;
}

#tertiary.movies div#tertiaryLeft div#controls p.title	{
	font-size: 30px;
	font-weight: bold;
}

#tertiary div#tertiaryLeft div#controls p.duration	{
	padding-top: 50px;
	font-size: 24px;
}

#tertiary.movies div#tertiaryLeft div#controls a	{
	color: #ffffff;
	width: 298px;
	height: 43px;
	border: none;
	margin: 100px auto 0px auto;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a	{
	color: #000000;
	width: 365px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top: 10px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.bookmark	{
	background: rgba(86,162,214,0.75);
	color: #000000;
	border: none;
	margin-top: 118px;
	padding: 0px;
	position: relative;
	display: block;
}


#tertiary.movies div#tertiaryLeft div#controls a.play	{
	background: #516984;
	width: 293px;
	color: #000000;
	border: none;
	margin-top: 200px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary.movies div#tertiaryLeft div#controls a.back	{
	background: #516984;
	width: 293px;
	color: #ffffff;
	border: none;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.play	{
	background: #516984;
	color: #ffffff;
	border: none;
	margin-top: 20px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.back	{
	background: #516984;
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.mainmenu	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.remove	{
	background: #516984;
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a span, #tertiary div#tertiaryLeft div#controls p	{
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a span.bookmark, 
#tertiary div#tertiaryLeft div#controls a span.play, 
#tertiary div#tertiaryLeft div#controls a span.back, 
#tertiary div#tertiaryLeft div#controls a span.mainmenu,
#tertiary div#tertiaryLeft div#controls a span.remove	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
	color: #ffffff;
}


#tertiary div#tertiaryLeft div#controls a span.play, 
#tertiary div#tertiaryLeft div#controls a span.back, 
#tertiary div#tertiaryLeft div#controls a span.mainmenu { 
	font-size: 28px;
	padding-left: 0px;
	text-align: center;
	font-weight: bold;
}

#tertiary div#tertiaryLeft div#controls a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #689142;
}

#tertiary div#tertiaryLeft div#controls a span.working		{
	background: rgba(14,52,97,1.0);
	color: #ffffff;
}


#tertiary div#tertiaryRight	{
	width: 875px;
	height: 518px;
	margin: 202px auto auto 400px;
	float: left;
	position: absolute;
	display: none;
}


#tertiary.movies div#tertiaryRight	{
	width: 875px;
	height: 518px;
	margin: 212px 0px 0px 150px;
	float: left;
	position: absolute;
	display: none;
}


#tertiary  div#tertiaryRight div#pagepanel 	{
	width: 800;
	position: absolute;
}

#tertiary  div#tertiaryRight div#pagepanel p	{
	width: 800;
}

#tertiary  div#tertiaryRight div#pagepanel p.title	{
	color: #ffffff;	
	height: 45px;
	margin: -125px 0px 0px 50px;
	font-size: 32px;
	line-height: 45px;
	
}

#tertiary  div#tertiaryRight div#pagepanel p.title2	{
	color: #ffffff;	
	height: 45px;
	margin: -158px 0 0 65px;
	font-size: 32px;
	line-height: 45px;
	font-weight: bold; 
	
}

#tertiary  div#tertiaryRight div#pagepanel p.text4	{
	width: 800px;
	margin: 100px 0px 0px 50px;
	color: #1F2330;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#tertiary  div#tertiaryRight div#pagepanel img	{
	width: 800px;
	position: absolute; 
}


#tertiary  div#tertiaryRight div#pagepanel img.image1	{
	width: 750px;
	height: 225px;
	margin: 250px 0px 0px 40px;
}

#tertiary  div#tertiaryRight div#pagepanel img.image3	{
	width: 770px;
	height: 174px;
	margin: 428px 0px 0px 39px;
}


#tertiary div#tertiaryRight div#controlimage	{	
	width: 850px;
	height: 480px;
	margin: auto;
	float: left;
	position: absolute;
}



#tertiary div#tertiaryRight div#controlimage div#comments	{
	/*background: url(../images/generic_image_healthlib1.jpg) bottom right no-repeat;*/
	color: #000000;
	width: 775px;
	margin: 0px 0px 0px 65px;
	display: inline-block;
}

#tertiary div#tertiaryRight div#controlimage div#comments p	{
	
	font-size: 32px;
	font-weight: bold;
	line-height: 42px;
	text-align: left;
}

#tertiary div#tertiaryRight div#controlimage div#movie {
	width: 925px;
	height: 590px;
	margin: -65px 0px 0px 25px;
	display: inline-block;
	float: left;
	
}

#tertiary.movies div#tertiaryRight div#controlimage p.title	{
	color: #ffffff;	
	height: 45px;
	margin: -125px 0px 0px 250px;
	font-size: 32px;
	font-weight: bold;
	line-height: 45px;
}

#tertiary div#tertiaryRight div#controlimage p.border	{	
  
	width: 775px;
	height: 450px;
	border-top: 10px solid #768fab;
	border-bottom: 10px solid #768fab;
	margin: 50px 0px 0px 250px;
	position: absolute;
}


#tertiary div#tertiaryRight div#controlimage img.rightarrow	{
	height: 50px;
	width: 50px;
	margin: 425px 0px 0px 955px;
	position: absolute;
}

#tertiary div#tertiaryRight div#controlimage img.leftarrow	{
	height: 50px;
	width: 50px;
	margin: 425px 0px 0px 275px;
	position: absolute;
}


#tertiary div#tertiaryRight div#controlimage div#movie p	{
	width: 700px;
	color: #000000;
	text-align: left
	float: left;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	position: absolute;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.poster	{
	/*background: url(../images/mov_poster_BK1.png) top center no-repeat;*/
	width: 250px;
	position: absolute;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.poster img	{
	width: 240px;
	height: 330px;
	margin: 5px 0px 0px -83px;
	position: absolute;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.title	{
	width: 750px;
	margin: 75px 0px 10px 250px;
	font-size: 36px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.rating {
	margin: 130px 0px 10px 250px;
	font-size: 28px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.duration	{
	margin: 160px 0px 10px 250px;
	font-size: 28px;
}


#tertiary div#tertiaryRight div#controlimage div#movie p.synop	{
	margin: 220px 0px 10px 250px;
	font-size: 24px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.rightarrow	{
	background: url(../images/arrow_left-green.png) top center no-repeat;
	margin: 220px 0px 10px 250px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.leftarrow	{
	background: url(../images/arrow_right-green.png) top center no-repeat;
	margin: 220px 0px 10px 250px;
}



#tertiary div#tertiaryRight div#controlimage div#message	{
	width: 100%;
	height: 90px;
	margin: 25px 0px 0px 25px;
	color: #ffffff;
	text-align: left;
	float: left;
	font-size: 28px;
	line-height: 32px;
}

/* loading... */

#loading {
	width: 1280px;
	height: 720px;
	display: inline-block;
	position: absolute;
	z-index: 999999;
	background: #000000;	
}

#loading #loadinginfo {
	width: 400px;
	height: 75px;
	margin-top: 25px;
	margin-left: 25px;
	/*background: #56a2d6;*/
	background: #113663;
	color: white;
}

#loading #loadinginfo p {
	font-size: 32px;
	font-weight: bold;
	padding: 25px;
}

/* test overlay */

/*#testoverlay {
	height: 100%;
	width: 100%;
	display: none;
	z-index: 999;
}*/

/*#testoverlay p {	*/
#testoverlay {
	/*background: #000000;*/
	color: #ff0000;
	width: 100px;
	height: 50px;
	position: absolute;
	margin-top: 15px;
	margin-left: 1140px;
	font-size: 12px;
	font-weight: normal;
	display: none;
	z-index: 99999;
}

/* footer */

#footer {
	width: 1280px;
	height: 25px;
	margin-top: 695px;
	position: absolute;
	z-index: 100;
}

#footer p.copyright {
	margin: 0px auto 0px auto;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	color: rgba(67,67,67,0.75);
	position: relative;	
}

#kontrol	{
	display: none;
}

#kookies	{
	display: none;
}

#json	{
	display: none;
}

#xml	{
	display: none;
}

#preload	{
	display: none;
}

